        <div class="span3">
          <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
              <li>
               Due: never
             </li>
             <li>
               Repeat: never
             </li>
             <li>
               Time estimate: none
             </li>
             <li>
               Tags: none
             </li>
             <li>
               Location: none
             </li>
             <li>
               URL: none
             </li>
             <li>
               Postponed: 0 times
             </li>
             <li>
               Shared with: no one
             </li>
             <li>
               Notes: 0
             </li>
             
           </ul>
         </div>
       </div>