<div style="padding-top: 8px">
  <ul class="tasks zebra-list">

    <% @task.children.order("priority desc").each  do |subtask| %>
    <li>
      <input type="checkbox"> 
      <span class="title"><%= link_to subtask.title, subtask %> 
       || <%= link_to 'Remove', subtask, :confirm => 'Are you sure?', :method => :delete %>
     </span> 
     <span class="meta">Created <em><%=time_ago_in_words(subtask.created_at)%></em> ago by <em><%=subtask.project.user.name%></em></span>
   </li>
   <% end %>
 </ul>
</div>