<%= render "shared/navbar"%>

<div class="container">

  <div class="row" style="padding-top: 40px">
    <%= render "shared/sidebar"%>

    <div class="span10">
      <%= yield %>
    </div>

    
  </div>
</div>