<div class="well" style="padding: 8px 0; background: white; padding: 10px;">
  <h1>
    Projects
  </h1>

  <a href="#newProject" data-url="<%= new_project_path(:user_id => current_user.id)%>" data-toggle="modal" class="new-project-button"><i class="icon-plus"></i> New Project</a>

  <ul class="tasks zebra-list">
    <% if @projects.count > 0 %>
      <% @projects.each do |project| %>
      <li>
        <input type="checkbox"> 
        <span class="title"><%= link_to project.title, project %> 
        </span> 
        <span class="meta">Created <em><%=time_ago_in_words(project.created_at)%></em> ago by <em><%=project.user.name%></em></span>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>

<!-- Modal -->
<div id="newProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Project</h3>
  </div>
  <div class="modal-body">
    Carregando...
  </div>
</div>