<div class="well" style="padding: 8px 0; background: white; padding: 10px;">
  <h1>
    Projects
  </h1>

  <a href="#newProject" data-url="<%= new_project_path(:user_id => current_user.id)%>" data-toggle="modal" class="new-project-button"><i class="icon-plus"></i> New Project</a>

  <ul class="tasks zebra-list">
    <% if @projects.count > 0 %>
      <% @projects.each do |project| %>
      <li>
        <input type="checkbox"> 
        <span class="title"><%= link_to project.title, project %> 
        </span> 
        <span class="meta">Created <em><%=time_ago_in_words(project.created_at)%></em> ago by <em><%=project.user.name%></em></span>
      </li>
      <% end %>
    <% end %>
  </ul>

  <div id="tools">
    <a href="#" class="btn"><i class="icon-folder-open"></i> Archive</a>

    <a href="#" class="btn btn-success pull-right spaced"><i class="icon-plus icon-white"></i> New Project</a>

    <div class="btn-group pull-right spaced" >
      <button class="btn span2">Sort By</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="input-append pull-right spaced">
      <input class="span3" id="appendedInputButton" type="text" value="Filter by..."></input>
      <button class="btn" type="button">Filter!</button>
    </div>

  </div>

  <div id="projects">
    <table class="table">
      <tbody>
        <tr>
          <td>
            01
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star-empty"></i>
          </td>
          <td>
            <img src="http://www.rocstarr.com/Tipapalooza/files/tipapalooza-icon-100x100.png" alt="ALT NAME">
          </td>
          <td>
            <h2>
              Gerenciador de tarefas
            </h2>
            <b> Created: </b>
            June 17 2012
            |
            <b> Status: </b>
            running
          </td>
          <td>
            <a href="#" class="btn btn-primary"> Open Project</a>
            <a href="#" class="btn">
              <i class="icon-edit"></i> Edit</a>                
            </td>
          </tr>
          <tr>
            <td>
              02
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </td>
            <td>
              <img src="http://www.tinywonderstudios.com/gfx/press/pixi_icon_100x100.png" alt="ALT NAME">
            </td>
            <td>
              <h2>
                Controle de gasto de combustivel
              </h2>
              <b> Created: </b>
              January 03 2013
              |
              <b> Status: </b>
              running
            </td>
            <td>
              <a href="#" class="btn btn-primary"> Open Project</a>
              <a href="#" class="btn">
                <i class="icon-edit"></i> Edit</a>                
              </td>
            </tr>
            <tr>
              <td>
                03
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </td>
              <td>
                <img src="http://upload.wikimedia.org/wikipedia/de/8/8b/Brights_icon_100x100.gif" alt="ALT NAME">
              </td>
              <td>
                <h2>
                  Controle de orçamento pessoal
                </h2>
                <b> Created: </b>
                March 25 2013
                |
                <b> Status: </b>
                running
              </td>
              <td>
                <a href="#" class="btn btn-primary"> Open Project</a>
                <a href="#" class="btn">
                  <i class="icon-edit"></i> Edit</a>                
                </td>
              </tr>
            </tbody>
          </table>
        </div>

</div>

<!-- Modal -->
<div id="newProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Project</h3>
  </div>
  <div class="modal-body">
    Carregando...
  </div>
</div>